<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-wrap -m-4">
            <% data.forEach((user)=>{ %>


                <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                    <a class="block relative h-48 rounded overflow-hidden">
                        <img alt="ecommerce" class="object-cover object-center w-full h-full block"
                            src=<%=user.avatar.url %>>
                    </a>
                    <div class="mt-4">
                        <h2 class="text-gray-900 title-font text-lg font-medium">
                            <%=user.firstName +" "+ user.lastName%>
                        </h2>
                        <p class=" mt-1">Developer</p>
                    </div>
                </div>
                <%})%>

        </div>
    </div>
    </div>
</section>